body{
    margin: 0;
    padding: 0;
    background: #e9e9e9;
  
}
.backimg img{
    width: 100%;
    height: 200px;
}
.logo{
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
.focus{
    /* border-bottom: 5px solid #FFA53D; */
}
a:hover{
    color: #ffa63d;
}
a:link{
    color: #505050;
}
a{
    color: #505050;
}
.colInfo{
    color: #3fff8e;
}
.menu{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}
.menu a{
    margin: 10px;
}

.clear{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.mainLeft{
    width:66.666666667%;
    margin-right: 20px;
    min-width: 700px;
}
.mainRight{
    width: 33.33333%;
    min-width: 350px;
}
.listBox{
    background: #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.listBox h1{
    display: flex;
    justify-content: center;
}
.listBox .colDefault{
    display: flex;
    justify-content: center;
}
.smpInfo{
    margin-left: 30px;
}
.function{
    margin-left: 30px;
    background: #ffa63d;
    color: #fff;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.rightBox{
    background: #fff;
    margin: 10px;
    padding: 0px 20px 0px 20px;    
    border-radius: 5px;
}

.line{
    text-align: right;
    margin-right: 30%;
}
.title h3{
    font-size: 16.8px;
    font-weight: normal;
    padding: 15px 0 1px 0;
    border-bottom: 1px solid #999999;
}
.title__text::after{
    content: ' ';
    display: block;
    height: 1px;
    width: 100px;
    position: relative;
    background: #ffa63d;
    top: 2px;
}
.rightBox input{
    width: 120px;

}
.rightBox  button{
    width: 126px;
    background: #ffa63d;
    color: #fff;
    border: none;
    border-radius: 5px;
    /*margin: 5px;*/
    /*border: 2px solid #fff;*/
}
.pager{
    background: #fff;

}
.pager ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 50px;
    padding-right: 40px;
}
.pager li{
    list-style: none;
}