body{
    margin: 0;
    padding: 0;
    background: #e9e9e9;
}
.backimg img{
    width: 100%;
    height: 200px;
}
.logo{
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}

a:hover{
    color: #ffa63d;
}
a:link{
    color: #505050;
}
a{
    color: #505050;
}
.colInfo{
    color: #3fff8e;
}
.menu{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}
.menu a{
    margin: 10px;
}

.clear{
    display: flex;
    /* justify-content: center; */
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.mainLeft{
    width:66.666666667%;
    margin-right: 20px;
    min-width: 700px;
}
.mainRight{
    width: 33.33333%;
    min-width: 350px;
}
.listBox{
    background: #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.listBox h1{
    display: flex;
    /* justify-content: center; */
}
.listBox .colDefault{
    display: flex;
    justify-content: center;
}
.smpInfo{
    /* margin-left: 30px; */
}
.function{
    margin-left: 30px;
    background: #ffa63d;
    color: #fff;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.function a{
    color: #ffffff;
    font-size: 14px;
}
.rightBox{
    background: #fff;
    margin: 10px;
    padding: 0px 20px 0px 20px;    
    border-radius: 5px;
}

.line{
    text-align: right;
    margin-right: 30%;
}
.title h3{
    font-size: 16.8px;
    font-weight: normal;
    padding: 15px 0 1px 0;
    border-bottom: 1px solid #999999;
}
.title__text::after{
    content: ' ';
    display: block;
    height: 1px;
    width: 100px;
    position: relative;
    background: #ffa63d;
    top: 2px;
}
.rightBox input{
    width: 120px;

}
.rightBox  button{
    width: 126px;
    background: #ffa63d;
    color: #fff;
    border: none;
    border-radius: 5px;
    /*margin: 5px;*/
    /*border: 2px solid #fff;*/
}
.pager{
    background: #fff;

}
.pager ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 50px;
    padding-right: 40px;
}
.pager li{
    list-style: none;
}

.listBox h1{
    color: #303030;
    font-size: 24px;
    font-weight: normal;
}
.post-media{
    width: 220px;
    height: 160px;
}
.post-media__img{
    width: 220px;
    height: 160px;
}

.post{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.post-date{
    color: #959595;
}
.post-content{
    display: flex;
    color: #666666;
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;
}
.post-footer{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.post-meta{
    line-height: 30px;
}
.post-title{
    display: flex;
    justify-content: center;
}
.post-detail{
    padding: 20px;
}
.comment{
    display: flex;
    flex-direction: column;
     width: 650px; 
}
.comment__label{
    margin: 5px;
    height: 25px;
}