body{
    margin: 0;
    padding: 0;
    background: #e9e9e9;
}
header{
    height: 200px;
}
.backimg img{
    width: 100%;
    height: 200px;
}
.logo{
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}

a:hover{
    color: #ffa63d;
}
a:link{
    color: #505050;
}
a{
    color: #505050;
}
.colInfo{
    /* color: #3fff8e; */
    margin-left: 5px;
    margin-right: 10px;
}
.menu{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}
.menu a{
    margin: 20px;
}

.clear{
    display: flex;
    /* justify-content: center; */
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.pager-list{
    width: 100%;
    padding-left: 0px;
}
.pager__previous{
    padding-left: 20px;
    color: #e37220;
}
.pager__next{
    padding-right: 20px;
    color: #e37220;
}

.mainLeft{
    width:66.666666667%;
    margin-right: 20px;
    min-width: 700px;
    margin-top: 40px;
}
.mainRight{
    width: 33.33333%;
    min-width: 350px;
    margin-top: 22px;
}
.listBox{
    background: #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.listBox h1{
    display: flex;
    /* justify-content: center; */
}
.listBox .colDefault{
    text-align: center;
    color: #999999;
    font-size: 14px;
}
.smpInfo{
    /* margin-left: 30px; */
}
.function{
    margin-left: 30px;
    background: #ffa63d;
    color: #fff;
    width: 100px;
    padding: 5px;
    text-align: center;
}
.function a{
    color: #ffffff;
    font-size: 14px;
}
.rightBox{
    background: #fff;
    margin: 10px;
    padding: 0px 20px 10px 20px;    
}

.line{
    text-align: right;
    margin-right: 30%;
}
.title h3{
    font-size: 16.8px;
    font-weight: normal;
    padding: 15px 0 1px 0;
    border-bottom: 1px solid #999999;
}
.title__text::after{
    content: ' ';
    display: block;
    height: 1px;
    width: 100px;
    position: relative;
    background: #ffa63d;
    top: 2px;
}
.rightBox input{
    width: 120px;

}
.rightBox  button{
    width: 126px;
    background: #ffa63d;
    color: #fff;
    border: none;
    border-radius: 5px;
    /*margin: 5px;*/
    /*border: 2px solid #fff;*/
}
.pager{
    background: #fff;

}
.pager ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 50px;
    padding-right: 40px;
}
.pager li{
    list-style: none;
}

.listBox h1{
    color: #303030;
    font-size: 24px;
    font-weight: normal;
}
.post-media{
    width: 220px;
    height: 160px;
    margin-right: 15px;
}
.post-media__img{
    width: 220px;
    height: 160px;
}

.post{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.post-info h1{
    margin: 0px;
    height: 32px;
}
.post-date{
    display: block;
    color: #959595;
    margin: 5px 0px 5px 0px;
    height: 25px;

}
.post-content{
    display: flex;
    color: #666666;
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;
    padding-bottom: 15px;
}
.post-footer{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.post-meta{
    line-height: 30px;
    color: #999999;
    font-size: 14px;
}
.post-title{
    display: flex;
    justify-content: center;
}
.post-detail{
    padding: 20px;
}
.post-detail__head{
    border-bottom: 1px solid #e9e9e9;
}
.post-detail__content{
    margin-top: 20px;
}
.smpInfo p{
    margin: 0px;
}
.comment{
    display: flex;
    flex-direction: column;
     width: 650px; 
}
.comment__label{
    margin: 5px;
    height: 25px;
}
.message__input{
    margin: 5px;
}
.message{
    margin-top:30px;
}
.message__title{
    display: inline-block;
    border-bottom: 2px solid #fda84c;
    padding-bottom: 6px;
    color: #666666;
}
#messageBtn{
    margin: 5px;
    height: 25px;
    color: #ffffff;
    background: #fda84c;
    border: 0px;
}
.messageBox{
    display: flex;
    /* border: width border-style color; */
    padding-top: 10px;
    /* border-top: 1px solid #d9d9d9; */
    border-bottom: 1px solid #d9d9d9;
}
.messageBox__avator img{
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.messageBox p{
    margin: 5px;
    font-size: 14px;
    color: #6E6767;
}

.label-cloud__item{
    display: inline-block;
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    font-size: 0.9em;
    color: #959595;
    margin-bottom: 7px;
}
.label-cloud__item:hover{
    color: #ffffff;
    background: #e37220; 
    font-size: 0.9em;
}

.archive-list{
    padding: 0;
}
.archive-list__item{
    list-style: none;
    letter-spacing: 1px;
}
.archive-list__item-time{
    margin-left: 8px;
    font-size: 0.9em;
}