{% extends 'layout.html'%} {% block content%}

<div class="listBox post-detail">
    <div class="post-detail__head">
        <h1 class="post-title">{{content.title}}</h1>
        <p class="colDefault">
            <i class="fa fa-eye " aria-hidden="true"></i><span class="colInfo">{{content.views}} Views</span>
            <i class="fa fa-commenting" aria-hidden="true"></i><span class="colInfo">{{content.comments.length}} Comments</span>
            <i class="fa fa-calendar" aria-hidden="true"></i><span class="colInfo">{{content.addTime|date('Y-m-d H:i:s', -60*8) }}</span>
        </p>
    </div>

    <!-- <div class="smpInfo"></div> -->
    <div id="post-content" class="post-detail__content">{{content.content|replace('<', '<', 'g') }}</div>
    <!-- <div class="post-content" id="post-content">

    </div> -->

    <div class="listBox message">
        <h3 class="textLeft message__title"><span class="em">共有<em id="messageCount" style="color: #fda84c;">0</em> 条评论</span></h3>

        <div class="messageList">

        </div>

        <div class="pager">
            <ul class="clear pager-list">
                <li class="pager__previous">
                    <a href="javascript:;">上一页</a>
                </li>
                <li></li>
                <li class="pager__next">
                    <a href="javascript:;">下一页</a>
                </li>
            </ul>
        </div>

        <!-- {% if true %} -->
        <!-- <p class="textLeft">zmouse</p> -->
        <h3 class="comment__title">发表评论</h3>
        <p class="textLeft clear comment">
            <input type="hidden" name="article_id" id="contentId" value="{{content.id}}">
            <input id="nickname" class="comment__label" type="text" name="nickname" value="" placeholder="姓名(必填)">
            <input id="email" class="comment__label" type="email" name="email" value="" placeholder="邮箱(必填)">
            <input id="site" class="comment__label" type="text" name="site" value="" placeholder="网站(选填)">
            <textarea class="message__input" name="" id="messageContent" cols="30" rows="10" placeholder="说点什么吧！"></textarea>
            <button id="messageBtn" class="submit">评论</button>
        </p>
    </div>
</div>

<script src="/public/js/jquery-3.2.1.js"></script>
<script src="/public/js/comment.js"></script>